@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Rye&family=Special+Elite&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Montserrat:ital,wght@1,300&family=Rye&family=Special+Elite&display=swap");

/* Center the entire page horizontally */

/* Reset some default styles */
/* Reset some default styles */
body {
    text-align: center;
    font-family: Kanit, sans-serif;
  }
  
  /* Style the form */
  #addArtForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  /* Style the custom file input button */
  .custom-file-input-button {
    display: block;
    width: 90%;
    padding: 10px;
    background-color: #0f161b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-input-button:hover {
    background-color: #1a2328;
  }
  
  /* Style labels */
  label {
    font-family: Kanit, sans-serif;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
  }
  
  /* Style text inputs */
  input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style error messages */
  #errorMessage {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Center-align each image within the gallery and add spacing */
  #gallery img {
    margin: 20px;
  }


 